<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"> <!-- bean definitions here -->



    <bean class="org.yash.domain.Student" id="student" autowire="constructor">
        <constructor-arg value="12" type="int"/>
        <constructor-arg value="gaurav" type="java.lang.String"/>

    </bean>

    <bean class="org.yash.domain.Address" id="address">
        <constructor-arg value="pune1"/>
        <constructor-arg value="India"/>

    </bean>





<!--    <bean class="org.yash.domain.Student" id="s1" scope="prototype">
        <property name="studentId">
            <value>123</value>
        </property>

        <property name="studentName">
            <value>"gk"</value>
        </property>

        <property name="studentAddress">
            <value>"pune"</value>
        </property>

    </bean>-->


</beans>